$magenta: #E8175D;

.about {
  width: 100vw;
  margin-left: 5vw;
  display: grid;
  grid-template-rows: 5vw 1fr;

  .bio {
    width: 60vw;

    p {
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
    }
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: $magenta;
  }


  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
