$magenta: #E8175D;

.contact {
  width: 60vw;
  margin-left: 5vw;

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: $magenta;
  }

  h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
  }
}
