$magenta: #E8175D;
$lightnavy: #3c4b52;
// $darkgray: #474747;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto Slab', serif;

@mixin no-line-height {
  line-height: 12vh;
  margin: 0;
}

.intro {
  position: relative;
  font-family: $raleway;
  color: $lightnavy;
  margin: 14vh auto auto 5vw;

  h1 {
    font-size: 10vw;
    line-height: 7vh;
  }

  h4 {
    font-size: 3vw;
    margin: 10px auto 10px auto;
    // line-height: 1vh;
  }

  span {
    color: $magenta;
  }

}
