$magenta: #E8175D;
$darkgray: #474747;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto Slab', serif;

@mixin no-line-height {
  line-height: 12vh;
  margin: 0;
}

.intro {
  font-family: $raleway;
  color: $darkgray;
  margin: 20vh auto auto 5vw;

  h1 {
    font-size: 14vw;
    line-height: 9vh;
  }

  h4 {
    font-size: 3vw;
    line-height: 1vh;
  }

  span {
    color: $magenta;
  }
}

// .thanks {
//   margin: 20vh auto auto 5vw;
// }
