$darkgray: #474747;
$midnight-gray: #35444a;
$lemon-lite: #fff2c4;
$white: white;

.navbar {
  background-color: $darkgray;
  width: 100vw;

  .navbar-options {
    float: right;
    margin-right: 2vw;
  }

  label {
    text-decoration: none;
    color: $white;
    margin-left: 2vw;
  }
}
