$lightnavy: #3c4b52;
$darkturq: #0c2d3b;

.navbar {
  background-color: $lightnavy;
  width: 100vw;

  .navbar-options {
    float: right;
    margin-right: 2vw;
    margin-top: 1vh;

    .link {
      text-decoration: none;
    }

    label {
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      font-size: 1.25vw;
      color: $darkturq;
      margin-left: 2vw;
    }
  }
}
