// ProjectCard styling
$midnight: #0a384a;
$lemon-lite: #fff2c4;

@mixin yellow-text {
  color: $lemon-lite;
}

@mixin no-line-height {
  line-height: 5vh;
  margin: 0;
}

.card-container {
  background-color: $midnight;
  width: 33vw;
  height: 50vh;
  margin: auto;

  h2 {
    @include yellow-text;
    @include no-line-height;
  }

  a {
    text-decoration: none;
    @include yellow-text;
    @include no-line-height;
  }
}


// PortfolioContainer styling
#portfolio-container {
  display: grid;
  grid-template-rows: 10vh 90vh;
  width: 100vw;
  background-color: lightgray;

  span {
    margin: 2vw;
  }

  #portfolio-list {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-column-gap: 0.5vw;
  }
}




// experiment with mixins
