// ProjectCard styling
$darkgray: #474747;
$lemon-lite: #fff2c4;

@mixin info-text-color {
  color: black;
}

@mixin no-line-height {
  line-height: 5vh;
  margin: 0;
}

.card-container {
  background-color: lightgray;
  width: 98vw;
  margin: auto;
  display: block;

  img {
    max-width: 100%;
    height: auto;

    position: relative;
    z-index: 2;
  }

  img:hover {
    display: block;
    opacity: 0.05;
    position: relative;
    z-index: 0;
  }

  img:hover + .project-info {
    display: block;
    position: relative;
    z-index: 5;
  }

  .project-info {
    display: block;
    position: relative;
    z-index: 0;
    top: -500px;

    h2 {
      @include info-text-color;
      @include no-line-height;
    }

    a {
      text-decoration: none;
      @include info-text-color;
      @include no-line-height;
    }
  }

}


// PortfolioContainer styling
#portfolio-container {
  display: grid;
  grid-template-rows: 15vh 100vh;
  width: 100vw;
  height: 500vh;

  span {
    color: $darkgray;
    margin: 2vw;
    font-size: 3vw;
  }

  #portfolio-list {
    margin-bottom: 2vw;
    // display: grid;
    // grid-template-rows: 50vh 50vh 50vh;
    // grid-row-gap: 5vh;
  }
}




// experiment with mixins
