// ProjectCard styling
$darkturq: #0c2d3b;
$magenta: #E8175D;
$lightnavy: #3c4b52;
$charcoal: #363636;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto Slab', serif;

@mixin info-text-color {
  color: black;
}

@mixin no-line-height {
  line-height: 5vh;
  margin: 0;
}


// PortfolioContainer styling
.portfolio-page {
  display: grid;
  grid-template-rows: 45px 1fr;

  .portfolio-type {
    margin-top: 20px;
    margin-bottom: 15px;

    span {
      font-family: $roboto;
      font-size: 24px;
      color: $lightnavy;
      margin: 2vw;
    }
  }


  .portfolio-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .dev-card {
      width: 96vw;
      position: relative;
      margin: 2vw;

      img {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        width: 96vw;
        z-index: 2;

        // opacity: 80%;
      }

      // img:hover {
      //   opacity: 0.05;
      //   z-index: 1;
      // }


    // ------------------------------
      .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $magenta;

        position: absolute;
        z-index: 10;
        width: 50vw;
        height: 25vh;
        margin: auto;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

          h2 {
            @include info-text-color;
            // @include no-line-height;
            line-height: 5vw;
            color: $lightnavy;
            font-family: $raleway;
            font-size: 3vw;
            margin: 0;
          }

          h5 {
            @include info-text-color;
            @include no-line-height;
            color: $lightnavy;
            font-family: $raleway;
            font-size: 1.8vw;
            margin: 0;
          }

          a {
            @include info-text-color;
            @include no-line-height;
            color: $lightnavy;
            font-family: $roboto;
            font-size: 1.5vw;
            margin: 0;
          }
      }
    // ------------------------------


    }



    .design-card {
      background-color: lightgray;
      width: 32vw;
      height: 32vw;
      margin: auto;
      overflow: hidden;
      position:relative;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -8vw;
        right: 8vw;
        margin: auto;
        width: 50vw;
      }
    }
  }


  .design-projects {
    display: grid;
    grid-template-columns: 32vw 32vw 32vw;
    grid-template-rows: 32vw 32vw 32vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin: 2vw auto;

    z-index: 1;
  }


  .popup-module {
    position: fixed;
    display: block;
    z-index: 2;
    // overflow: scroll;
    overflow: visible;

    div {
      position: relative;
      width: 100vw;
      height: 82vh;
      margin-top: 15px;

      img {
        position: absolute;
        width: auto;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      span {
        position: absolute;
        font-size: 4vw;
        font-weight: bold;
        text-decoration: none;
        line-height: 0.5;
        color: white;
        margin-top: 10px;

        text-shadow: 1px 1px 24px black;
      }

      span:hover {
        color: $darkturq;
      }
    }

    h3 {
      font-family: $raleway;
      font-size: 14px;
      text-align: center;
    }
  }

  // .fade-background {
  //   width: 100vw;
  //   height: 100vh;
  //   background-color: black;
  //   opacity: 0.2;
  // }

  // .popup-module:after {
  //   content: "";
  //   background-color: black;
  //   width: 100vw;
  //   position: absolute;
  // }

}
